.navbar-container {
  position: absolute;
  width: 77%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  z-index: 2;
}

.logo-img-container {
  width: 11rem;
}

.titre {
  font-size: 15rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5rem;
}

.navbar-titre {
  color: white;
  text-decoration: none;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 3rem;
  text-shadow: 4px 4px 5px black;
}

li {
  list-style-type: none;
}
